bady{
    background-color: black;
    width: 33%;
   
}
#res{
    background-color: lightgray;
    border: solid;
    height: 48px;
    font-size: 20px;
}
#btn0{
    background-color: lightgreen;
    

}
